body {
  margin: 0;
  overflow: hidden;
}

.mainCourse {
  font-size: 4rem;
}

.vegetarianCourse {
  font-size: 2.5rem;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  animation: zoomIn 1.5s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}
